/**
  * Perforg Stylesheet
  * @author: Shouvik Mukherjee
*/

.header-content-inner h1 {
	font-size: 250% !important;
	text-transform: capitalize !important;
}

.header-content-inner p {
	color: red;
}